/**
 *------
 * BGA framework: Gregory Isabelli & Emmanuel Colin & BoardGameArena
 * spookytower implementation : © <Your name here> <Your email address here>
 *
 * This code has been produced on the BGA studio platform for use on http://boardgamearena.com.
 * See http://en.boardgamearena.com/#!doc/Studio for more information.
 * -----
 *
 * spookytower.css
 *
 * spookytower stylesheet
 *
 */

/*
    This is the CSS stylesheet of your game User Interface.
    
    Styles defined on this file will be applied to the HTML elements you define in your
    HTML template (spookytower_spookytower.tpl), and to HTML elements you create dynamically
    (in spookytower.js).
    
    Usually, you are using CSS to:
    
    1°) define the overall layout of your game
        (ex: place the board on the top left, place player's hand beside, place the deck on the right, ...).

    2°) create your CSS-sprites:
        All images of your games should be gathered into a small number of image files. Then, using
        background-image and background-position CSS properties, you create HTML blocks that can 
        display these images correctly (see example below).
    
    3°) ... anything else:
        It is really easy to add and remove CSS classes dynamically from your Javascript with
        dojo.addClass and dojo.removeClass. It is also easy to check if an element has a class
        (dojo.hasClass) or to get all elements with a specific class (dojo.query). This is why,
        very often, using CSS classes for the logic of your user interface allow you to do complex
        thing easily.
        
        
     Note: on the production platform, this file will be compressed and comments will be removed.
           Consequently, don't hesitate to put as many comments as necessary.
*/


/* Note: you must not use any @import directive */


/********* You can start writing your CSS below this line: **********/


/*
    Example of CSS sprites (a black token and a white token, 20x20px each, embedded in the same "tokens.png" 40x20px image):

    .white_token {
        background-image: url('img/tokens.png');
        background-position: 0px 0px;
    }
    .black_token {
        background-image: url('img/tokens.png');
        background-position: -20px 0px;
    }
    .token {
        width: 20px;
        height: 20px;
        background-repeat: none;
    }
*/

* {
  box-sizing: border-box; 
  margin: 0;
  padding: 0;
  border: 0;
}


:root {
  --st_scale: 1;          /* facteur de zoom global */
  --card_w: calc(224px * var(--st_scale));
  --card_h: calc(350px * var(--st_scale));
  --card_gap: calc(12px * var(--st_scale));
  --font-size: calc(16pt * var(--st_scale));

background-image: url("img/ST_background3.jpg");
background-size: auto 100%;
background-position: top center;
background-repeat: no-repeat;
}

.clickable {
  /*cursor: pointer;*/
}

.opa_30 {
  opacity: 0.3;
}

.player-board {
  background-color: #aba7e2;
}

#page-title {
  background-color: #aba7e2;
}

.roundedbox {
  outline: 5px solid #aba7e2;
  background: #aba7e2;
  border-radius: 4px;
}
/*////////////////////////////
//|  ___|__  _ __ | |_ ___  //
//| |_ / _ \| '_ \| __/ __| //
//|  _| (_) | | | | |_\__ \ //
//|_|  \___/|_| |_|\__|___/ //
////////////////////////////*/


@font-face {
  font-family: 'AktivGrotesk-Regular';
  font-style: normal;
  font-weight: normal;
  src: local('AktivGrotesk-Regular'), url(img/AktivGrotesk-Regular.ttf);
}

@font-face {
  font-family: 'Poster_Cut_Neue_Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Poster_Cut_Neue_Regular'), url(img/Poster_Cut_Neue_Regular.otf);
}

/*//////////////////////////////////////
// ____                _ _            //
//|_   _|__   ___ | | |_(_)_ __  ___  //
//  | |/ _ \ / _ \| | __| | '_ \/ __| //
//  | | (_) | (_) | | |_| | |_) \__ \ //
//  |_|\___/ \___/|_|\__|_| .__/|___/ //
//                        |_|         //
//////////////////////////////////////*/

/* tooltip Card */
.tooltip_content {
  display: flex;
  justify-content: space-between;
  height: auto;
  gap: 10px;
  flex-wrap: wrap;

}

  .tooltip_bigtitle {
    font-family: Poster_Cut_Neue_Regular;
    font-size: 24px;
    text-decoration: underline;
    color:#61c2cb;
  }



/*  ____  _                             ____                  _  */
/* |  _ \| | __ _ _   _  ___ _ __ ___  |  _ \ __ _ _ __   ___| | */
/* | |_) | |/ _` | | | |/ _ \ '__/ __| | |_) / _` | '_ \ / _ \ | */
/* |  __/| | (_| | |_| |  __/ |  \__ \ |  __/ (_| | | | |  __/ | */
/* |_|   |_|\__,_|\__, |\___|_|  |___/ |_|   \__,_|_| |_|\___|_| */
/*                |___/                                          */

.a-board {
  clear: both;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  margin-bottom: 5px;
}

.b-board {
  clear: both;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  perspective: 600px;
}

/* Groupe contenant une icône et son compteur */
.icon-group {
  display: flex;
  align-items: center;
  gap: 2px; /* Espace entre l'icône et le texte */
  margin : 0 5px;
}

/* Compteur */
.icon-text {
font-family: "AktivGrotesk-Regular", sans-serif;
  font-size: 16pt;
  line-height: 50px;
  text-shadow: 2px 2px 5px white, -2px -2px 5px white, 2px -2px 5px white, -2px 2px 5px white;
}


.icon {
  width: 48px;
  height: 48px;
  background-image: url("img/ST_icons.png");
  background-size: 500% 300%;
  transform-style: preserve-3d;
  backface-visibility: hidden;
}

.ic_reroll_1 { background-position: 0% 0% }
.ic_reroll_0 { background-position: -100% 0% }
.ic_artefact { background-position: -200% 0% }
.ic_ghost { background-position: -300% 0% }
.ic_clue { background-position: -400% 0% }
.ic_grimoire { background-position: 0% -100% }
.ic_clock { background-position: -100% -100% }
.ic_pet { background-position: -200% -100% }
.ic_replay { background-position: -300% -100% }
.ic_empty { background-position: -400% -100% }
.ic_flip8 { background-position: 0% -200% }
.ic_flip9 { background-position: -100% -200% }
.ic_draw8 { background-position: -200% -200% }
.ic_draw_any { background-position: -300% -200% }

.logo {
  width: 48px;
  height: 96px;
  background-image: url("img/ST_logos.png");
  background-size: 200% 100%;
  transform-style: preserve-3d;
  backface-visibility: hidden;
}

.lo_reroll { background-position: 0% 0% }
.lo_clock { background-position: -100% 0% }


 /* animation de flip */
.temp-reroll-card {
  width: 48px;
  height: 48px;
  transform-style: preserve-3d;
  transition: transform 0.4s ease-in-out;
  position: relative;
}

.temp-reroll-card .front,
.temp-reroll-card .back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.temp-reroll-card .back {
  transform: rotateY(180deg);
}




/*////////////////////////////////
// ____                     _ _ //
//| __ )  ___   __ _ _ __ __| | //
//|  _ \ / _ \ / _` | '__/ _` | //
//| |_) | (_) | (_| | | | (_| | //
//|____/ \___/ \__,_|_|  \__,_| //
////////////////////////////////*/

/*////////////////////////////////
// SP00KY TOWER BOARD
////////////////////////////////*/

/* Conteneur adaptatif */
#resized_id {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: auto;
}

#board_id {
  position: relative;
  margin: 5px 0;
  display: flex;
  flex-direction: column;
  transform-origin: top left;
  gap: calc(2*var(--card_gap));
  align-items: center;
}

/* ---------- TOP ROW ---------- */
/*#table_top_row {
  display: flex;
  gap: calc( 8*var(--card_gap));
}*/


/* Colonnes gauche et droite autour de la grille */
.table_side_column {
  display: flex;
  flex-direction: column; /* empile les éléments verticalement */
  gap: var(--card_gap);   /* espacement entre les éléments */
  align-items: center;
}

/* Largeur flexible ou fixe selon ton layout */
#left_column,
#right_column {
  display: flex;
  flex-direction: column;
  gap: var(--card_gap);
  align-items: center;
}

/* Si tu veux que les colonnes aient une largeur identique à une carte */
#left_column {
  width: var(--card_w);
}

#right_column {
  width: calc( 1.5 * var(--card_w));
}


.table_deck_slot,
.table_track_slot {
  width: var(--card_w);
  height: var(--card_h);
  position: relative; /* pour les cartes superposées */
}

#deck_grimoire .river_icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.2); /* état initial */
  z-index: 10;
  pointer-events: none;
  opacity: 0;
  transition: transform 600ms ease-out, opacity 600ms ease-out;
}

.table_clock_slot {
  width: var(--card_h);
  height: var(--card_h);
  position: relative; /* pour les cartes superposées */
}

.table_deck_slot .card_item {
  position: absolute; /* les cartes sont superposées */
  top: 0;
  left: 0;
}



.big_clock_tower {
  position: relative;
  background-image: url('img/ST_clocktower850.jpg');
  background-position: center top;
  background-repeat: no-repeat;
  background-size: contain;

  width: calc( 1.4 * var(--card_w));
  height: calc(1.4 * var(--card_w)/25*85);

  pointer-events: none;
  border-radius: 2%;
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.7);
}

#clock_zone {
  position: absolute;
  top: 22%;   /* ajuste visuellement */
  left: 50%;
  transform: translateX(-50%);
  z-index: 30;
}

#dice_zone {
  position: absolute;
  bottom: 7%;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: 14%;
  min-height: calc((80px * var(--st_scale)) + 16px);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  gap: calc(20px * var(--st_scale));
  z-index: 20;
}



.clock_tower {
  position: relative;
  background-image: url('img/ST_clock.png');
  background-position: center top;
  background-repeat: no-repeat;
  background-size: contain;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: var(--card_h);
  height: var(--card_h);

  pointer-events: none;
  border-radius: 50%;
  box-shadow: 6px 6px 12px rgba(0, 0, 0, 0.7);
  /*background-color: rgba(128, 0, 128, 0.7); /* violet avec alpha 30% */
}

#clock_tower_id {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: calc(0.75 * var(--card_h));
  height: calc(0.75 * var(--card_h));
}


#clock_hand_sprite {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
   /* centré */
  transform-origin: center center;               /* pivot pour rotation */

  background-image: url('img/ST_clock_hand.png');
  background-position: center top;
  background-repeat: no-repeat;
  background-size: contain;                       /* l’image s’adapte au div */

  transition: transform 0.6s ease-in-out;

  pointer-events: none;
}

/* ================= FLIP RIVER ================= */
/*#river_id {
  opacity: 1;
  max-height: calc(150px * var(--st_scale));
  height: calc(150px * var(--st_scale));
  overflow: hidden;
  transition: max-height 0.4s ease, opacity 0.4s ease;
}*/

#river_id {
  width: 100%;
  max-height: calc(150px * var(--st_scale));
  height: calc(150px * var(--st_scale));
  overflow: hidden;
  transition: max-height 0.4s ease, opacity 0.4s ease;
  display: flex;         /* déjà en flex dans .river_container */
  justify-content: center;
}

#river_id.closed {
  max-height: 0;
  opacity: 0;
}

.river_container {
  display: flex;
  flex-direction: row;
  width : calc(40px + 5 *var(--card_w));
  height: auto;
  gap: 20px;
  align-items: center;
  justify-content: center;
  background:
    /* haut */
    linear-gradient(to bottom, #364a93 0%, #364a93 3px),
    /* bas */
    linear-gradient(to top, #73c6ce 0%, #73c6ce 3px),
    /* côtés gauche/droite */
    linear-gradient(to bottom, #364a93, #73c6ce) left, 
    linear-gradient(to bottom, #364a93, #73c6ce) right,
    /* centre */
    linear-gradient(to bottom, #f7eccb, #f8f4eb);

  background-repeat: no-repeat;
  background-size: 100% 3px, 100% 3px, 3px calc(100% - 6px), 3px calc(100% - 6px), 100% 100%;
  background-position: top, bottom, left, right, center;
}

.river_icon {
  width: calc(100px * var(--st_scale));
  height: calc(100px * var(--st_scale));
  background-image: url("img/ST_icons.png");
  background-size: 500% 300%;
}

.house_icon {
  width: calc(80px * var(--st_scale));
  height: calc(80px * var(--st_scale));
  background-image: url("img/ST_icons.png");
  background-size: 500% 300%;
}

/* ================= CENTER GRID 5x3 ================= */
#table_central_grid {
  display: grid;
  grid-template-columns: repeat(5, var(--card_w));
  grid-template-rows: repeat(3, var(--card_h));
  gap: var(--card_gap);
}

.table_pet_card,
.table_building_slot {
  width: var(--card_w);
  height: var(--card_h);
  /*border: 1px solid #333;*/
  position: relative; /* pour les cartes superposées */
}

.table_building_slot .building_cards {
  position: absolute; /* les cartes sont superposées */
  top: 0;
  left: 0;
}

/* Mettre les pets dans la première colonne */
#pet_1 { grid-column: 1; grid-row: 1; }
#pet_2 { grid-column: 1; grid-row: 2; }
#pet_3 { grid-column: 1; grid-row: 3; }

/* BUILDINGS SUR TABLE (colonnes 2 à 5) */

.table_building_slot {
  width: var(--card_w);
  height: var(--card_h);
  /*border: 1px dashed #666;*/
  position: relative;
  overflow: visible; /* pour que les animations puissent dépasser si besoin */
}

.table_building_cards_container {
  position: relative;
  width: 100%;
  height: 100%;
}

.building_card_container {
  position: relative;
  width: 100%;
  height: 100%;
}

.building_cards.empty {
  display: none;
}

/* Les cartes dans chaque slot se superposent */
.table_building_slot .building_cards {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* dernière ajoutée au-dessus naturellement */
}

/* compteur sur carte building (table) */
.table_building_counter {
  position: absolute;
  top: calc(20px * var(--st_scale));
  left: calc(20px * var(--st_scale));
  z-index: 150;
  font-family: "AktivGrotesk-Regular", sans-serif;
  font-size: calc(24pt * var(--st_scale));
  line-height: 1;

  color: black;
  text-shadow:
    2px 2px 5px white,
   -2px -2px 5px white,
    2px -2px 5px white,
   -2px  2px 5px white;

  pointer-events: none; /* ne pas bloquer les clics */
}


/* ---------- PLAYERS ---------- */
#players_area {
  display: flex;
  flex-direction: column;
  align-self: flex-end; /* pour aligner seuelemtn celui-ci à droite */
  margin: 0 calc(var(--card_gap) * 2);
  gap: calc(var(--card_gap) * 2);
}

.player_board {
  display: flex;
  padding: 5px;
  justify-content: flex-end;
  gap: var(--card_gap);
  border: 2px solid;
}


.player_label {
  flex: 0 0 calc(48px * var(--st_scale));
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "AktivGrotesk-Regular", sans-serif;
  font-size: calc(36px * var(--st_scale));
  font-weight: bold;
  text-shadow: 2px 2px 5px white, -2px -2px 5px white, 2px -2px 5px white, -2px 2px 5px white;
  overflow: hidden;             /* si texte dépasse */
}

.player_label .player_name_span {
  display: inline-block;
  transform: rotate(-90deg);
  white-space: nowrap;
}



.building_columns {
  display: flex;
  flex-wrap: wrap;          /* autorise le retour à la ligne */
  gap: calc(var(--card_gap) / 2);
  justify-content: flex-end; /* colle les stacks à droite sur chaque ligne */
  align-content: flex-end;   /* colle les lignes elles-mêmes vers le bas si plusieurs lignes */
  align-self: flex-end;    /* ce bloc reste en bas */
}

/* house slot et house ghosts */
.house_slot {
  align-self: flex-start; /* collé en haut du player_board */
}

/* ---------- STACKS ---------- */
.building_stack {
  width: var(--card_w);
  height: calc(var(--card_h) * 1.8);
  position: relative;
  overflow: visible;
  border-radius: 4px;
}

.building_stack.empty {
  display: none;
}

/* ---------- CARD CONTAINERS ---------- */
.building_card_container {
  position: absolute; /* pour le bottom et z-index */
  width: 100%;
  height: var(--card_h);
}

/* container vide : invisible */
.building_card_container:empty {
  display: none;
}

/* ---------- CARTES ---------- */
.building_cards {
  position: absolute; /* superposition dans le container */
  inset: 0;
  width: 100%;
  height: 100%;
}

.building_card_container,
.building_cards {
  pointer-events: none; /* pour valider le click sur le stack */
}








/* CARDS */

.pet_cards, .parkgrim_cards, .building_cards {
  width: var(--card_w);
  height: var(--card_h);
  border-radius: 4px;
  box-shadow: 0 0 3px gray;
  position: relative;
}



.pet_cards {
  background-image: url("img/ST_pets.jpg");
  background-size: 300% 100%;
}


.parkgrim_cards {
  background-image: url("img/ST_parkgrim.jpg");
  background-size: 800% 200%;
}

.building_cards {
  background-image: url("img/ST_buildings.jpg");
  background-size: 1200% 600%;
}


.house_slot {
  width: calc(var(--card_w) * 1.41);
  height: calc(var(--card_h) * 1.8);
  position: relative;
  border-radius: 4px;
}

.house_slot .house_items {
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: calc(var(--card_h) * 0.37);
}

.house_slot .house_clues {
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-items: center;
  justify-content: center;
  width: calc(var(--card_h) * 0.60);
  height: calc(var(--card_h) * 0.37);
}



.house_slot .house_amulet {
  position: relative;
  width: calc(var(--card_h) * 0.37);
  height: calc(var(--card_h) * 0.37);
}

.house_ghosts {
  display: flex;
  flex-direction: row;      /* ligne principale */
  flex-wrap: wrap;          /* wrap automatique si trop de fantômes */
  gap: 5px;                 /* écart constant entre fantômes */
  align-content: flex-start;
  justify-content: flex-start;
}





.amulets {
  position: absolute;
  top: 0;
  left: 0;
  width: calc(var(--card_h) * 0.37);
  height: calc(var(--card_h) * 0.37);
  background-image: url("img/ST_amulets.png");
  background-size: 300% 100%;
}

.amulet_1 { background-position: -0% -0%; }
.amulet_2 { background-position: -100% -0%; }
.amulet_3 { background-position: -200% -0%; }



.ghost_single_container {
  position: relative;
  width: calc(var(--card_w) * 0.45);
  height: calc(var(--card_h) * 0.45);
}


.ghost_sprites {
  position: relative;
  background-image: url("img/ST_ghosts.png");
  background-size: 700% 400%;
  width: calc(var(--card_w) * 0.45);
  height: calc(var(--card_h) * 0.45);
  pointer-events: none;
}



.house_slot .house_cards {
  width: 100%;
  height: calc(var(--card_h) * 1.43);
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  background-image: url("img/ST_houses.png");
  background-size: 400% 100%;
}

.house_empty_slot {
  width: var(--card_w); /* largeur d’emplacement */
  height: var(--card_h);
  margin-right: 2px;
  background-color: rgba(200,200,200,0.3); /* juste pour visualiser */
}




.effect {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 45%;
  flex: 0 0 auto;
}

.bonus_effects .effect {
  min-height: 96px; /* correspond à la hauteur de tes logos */
}

/* Mobile portrait : une seule colonne */
@media (max-width: 600px) {
  .effect {
    width: 95%;  /* 1 colonne */
  }
}


.effect_desc {
  flex: 1;
  color :#2f4a93;
}

.bonus_effects,
.other_effects {
  display: flex;
  flex-wrap: wrap;
  gap: 8px 30px;
}

.numbers {
  background-image: url("img/ST_numbers.png");
  background-size: 1200% 100%;
  width: 29px;
  height: 32px;
  pointer-events: none;
  display: inline-block;
  vertical-align: middle;
  box-sizing: border-box;

}

.numb_1  { background-position: -0%   -0%; }
.numb_2  { background-position: -100% -0%; }
.numb_3  { background-position: -200% -0%; }
.numb_4  { background-position: -300% -0%; }
.numb_5  { background-position: -400% -0%; }
.numb_6  { background-position: -500% -0%; }
.numb_7  { background-position: -600% -0%; }
.numb_8  { background-position: -700% -0%; }
.numb_9  { background-position: -800% -0%; }
.numb_10 { background-position: -900% -0%; }
.numb_11 { background-position: -1000% -0%; }
.numb_12 { background-position: -1100% -0%; }



/*////////////////////////////////////////
// ____                _ _              //
//|  _ \ ___ _ __   __| (_)_ __   __ _  //
//| |_) / _ \ '_ \ / _` | | '_ \ / _` | //
//|  __/  __/ | | | (_| | | | | | (_| | //
//|_|   \___|_| |_|\__,_|_|_| |_|\__, | //
//                               |___/  //
////////////////////////////////////////*/

.selectable, .selectablemulti {
    cursor: pointer !important;
    pointer-events: auto !important;
    outline: 4px dashed yellow; 
    border-radius: 4px;
    box-shadow: 0 0 3px yellow;
    z-index: 100;
  }

#clock_tower_id.selectable,
#clock_tower_id.selected {
  border-radius: 50%;
}
   
.selected, .selectedmulti {
    outline: 4px solid yellow; 
    border-radius: 4px;
    box-shadow: 0 0 3px yellow;
    z-index: 100;
  }



  #st_help_button {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 12px;
  left: 5px;
  width: 50px;
  height: 50px;
  background: #60c2cb;
  font-weight: bold;
  color: white;
  border-radius: 50%;
  box-shadow: 3px 5px 5px rgb(0, 0, 0);
  cursor: pointer;
  z-index: 949;
  font-size: 28pt;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
    align-items: center;

}

.modal-content {
  position: relative;
    background: #f6ecd0;
    padding: 10px;
    border-radius: 10px;
    width: 70%;
    max-height: 95vh; /* Limite la hauteur à 90% de la fenêtre */
    overflow-y: auto; /* Ajoute un scroll si nécessaire */
    /*text-align: center;*/
    border: solid 1px rgb(57, 86, 105);
    box-shadow: 3px 5px 5px rgb(0, 0, 0);
}

.close {
    position: absolute;
    right: 15px;
    top: 10px;
    font-size: 32px;
    cursor: pointer;
}


@media (max-width: 768px) {
  .modal-content {
    margin-top: 15%;
    width: 95%;
  }
}


#st_zoom_plus_button {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 125px;
  right: 5px;
  width: 50px;
  height: 50px;
  background: #e0a0b8;
  font-weight: bold;
  color: white;
  border-radius: 50%;
  box-shadow: 3px 5px 5px rgb(0, 0, 0);
  cursor: pointer;
  z-index: 949;
  font-size: 28pt;
}

#st_zoom_minus_button {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 185px;
  right: 5px;
  width: 50px;
  height: 50px;
  background: #e0a0b8;
  font-weight: bold;
  color: white;
  border-radius: 50%;
  box-shadow: 3px 5px 5px rgb(0, 0, 0);
  cursor: pointer;
  z-index: 949;
  font-size: 28pt;
}

@media (max-width: 600px) {
  #st_help_button,
  #st_zoom_plus_button,
  #st_zoom_minus_button
   {
    width: 30px;
    height: 30px;
    font-size: 18pt;
  }


  #st_zoom_plus_button {
    top: 80px;
  }

  #st_zoom_minus_button {
    top: 115px;
  }
}



/* DICES */

.scene {
    width: calc(80px * var(--st_scale));
    height: calc(80px * var(--st_scale));
    perspective: 1000px;
  }

#scene_1,
#scene_2 {
  position: relative;
  flex-shrink: 0;
}

#scene_1 {
  transform: translateY(calc(-60px * var(--st_scale)));
}

#scene_2 {
  transform: translateY(calc(40px * var(--st_scale)));
}

.dice {
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 2s cubic-bezier(0.23, 1, 0.32, 1);
  
}

.face {
  position: absolute;
  width: calc(80px * var(--st_scale));
  height: calc(80px * var(--st_scale));
  display: flex;
  justify-content: center;
  align-items: center;
  backface-visibility: hidden;
  color: black;
}

.face1 { transform: rotateY(0deg) translateZ(calc(40px * var(--st_scale))); background-image: url('img/dice.png'); background-size: 600% 100%; background-position-x: 0%; }
.face2 { transform: rotateY(90deg) translateZ(calc(40px * var(--st_scale))); background-image: url('img/dice.png'); background-size: 600% 100%; background-position-x: -100%; }
.face3 { transform: rotateY(180deg) translateZ(calc(40px * var(--st_scale))); background-image: url('img/dice.png'); background-size: 600% 100%; background-position-x: -200%; }
.face4 { transform: rotateY(-90deg) translateZ(calc(40px * var(--st_scale))); background-image: url('img/dice.png'); background-size: 600% 100%; background-position-x: -300%; }
.face5 { transform: rotateX(90deg) translateZ(calc(40px * var(--st_scale))); background-image: url('img/dice.png'); background-size: 600% 100%; background-position-x: -400%; }
.face6 { transform: rotateX(-90deg) translateZ(calc(40px * var(--st_scale))); background-image: url('img/dice.png'); background-size: 600% 100%; background-position-x: -500%; }

/* ICONS LOGS*/

.icone_log {
  width: 35px;
  height: 35px;
  background-image: url("img/ST_icons.png");
  background-size: 500% 300%;
  display: inline-block;
  vertical-align: middle;
  box-sizing: border-box;
}

.dice_log {
  width: 35px;
  height: 35px;
  background-image: url("img/dice.png");
  background-size: 600% 100%;
  display: inline-block;
  vertical-align: middle;
  box-sizing: border-box;
}